<h1>Listing users</h1>

<table class="table">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Friend code</th>
    <th>Console user</th>
    <th>Fruit</th>
    <th>Notes</th>
    <th>Avatar</th>
    <th>Twitter</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.username, user %></td>
    <td><%= user.email %></td>
    <td><%= user.friend_code %></td>
    <td><%= user.console_user %></td>
    <td><%= user.fruit %></td>
    <td><%= user.notes %></td>
    <td><%= user.avatar %></td>
    <td><%= user.twitter %></td>
  </tr>
<% end %>
</table>

<br />



<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => "btn" %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "btn" %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => "btn" %> |
  <%= link_to "Login", new_user_session_path, :class => "btn" %>
<% end %>

