<!DOCTYPE html>
<html>
<head>
  <title>Tradingpost</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<%= render_body_tag %> 
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Trading Post", root_path, :class => "brand" %>

        <div class="nav-collapse pull-right">
          <ul class="nav">
            <% if user_signed_in? %>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as <strong><%= current_user.username %></strong> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li class="divider-vertical"></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>  
        </div>
      </div>
    </div>
    </div>
<div class="container">

<%= yield %>

<%= notice_message %>

<%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
